@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

.custom-gradient {
  background: linear-gradient(130deg, #3e5fb4, #f72487, #f16961, #fffdfa);
  animation: grain 5s ease-in-out infinite;
}

@keyframes grain {
  0%,
  100% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
}

.blob-container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 30px;
  margin-bottom: 20px;
  animation: floatAnimation 2s ease-in-out infinite;
  cursor: none;
}

.blob-right-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 20px;
  animation: floatAnimation 2s ease-in-out infinite;
  cursor: none;
}

.blob-container:hover {
  animation-play-state: paused;
  cursor: none;
}

.blob-right-container:hover {
  animation-play-state: paused;
  cursor: none;
}

.blob {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the distance the blob floats */
  }
}

@keyframes colorTransition {
  0% {
    --color1: #f16961;
    --color2: #f72487;
  }
  100% {
    --color1: #f72487;
    --color2: #f16961;
  }
}

.bg-pattern {
  --s: 120px; /* control the size */
  animation: colorTransition 3s ease-out infinite;
  background: conic-gradient(
        from 150deg at 50% 33%,
        #0000,
        var(--color1) 0.5deg 60deg,
        #0000 60.5deg
      )
      calc(var(--s) / 2) calc(var(--s) / 1.4),
    conic-gradient(
      from -30deg at 50% 66%,
      #0000,
      var(--color2) 0.5deg 60deg,
      #fffdfa 60.5deg
    );
  background-size: var(--s) calc(var(--s) / 1.154);
}

.bg-pattern-2 {
  animation: colorTransition 3s ease-out infinite;

  --r: 56px; /* control the size */
  --c1: var(--color1) /*color 1*/ 99%, #0000 101%;
  --c2: var(--color2) /*color 2*/ 99%, #0000 101%;

  --s: calc(var(--r) * 0.866); /* .866 = cos(30deg) */
  --g0: radial-gradient(var(--r), var(--c1));
  --g1: radial-gradient(var(--r), var(--c2));
  --f: radial-gradient(var(--r) at calc(100% + var(--s)) 50%, var(--c1));
  --p: radial-gradient(var(--r) at 100% 50%, var(--c2));
  background: var(--f) 0 calc(-5 * var(--r) / 2),
    var(--f) calc(-2 * var(--s)) calc(var(--r) / 2),
    var(--p) 0 calc(-2 * var(--r)), var(--g0) var(--s) calc(-5 * var(--r) / 2),
    var(--g1) var(--s) calc(5 * var(--r) / 2),
    radial-gradient(var(--r) at 100% 100%, var(--c1)) 0 calc(-1 * var(--r)),
    radial-gradient(var(--r) at 0% 50%, var(--c1)) 0 calc(-4 * var(--r)),
    var(--g1) calc(-1 * var(--s)) calc(-7 * var(--r) / 2),
    var(--g0) calc(-1 * var(--s)) calc(-5 * var(--r) / 2),
    var(--p) calc(-2 * var(--s)) var(--r),
    var(--g0) calc(-1 * var(--s)) calc(var(--r) / 2),
    var(--g1) calc(-1 * var(--s)) calc(var(--r) / -2),
    var(--g0) 0 calc(-1 * var(--r)), var(--g1) var(--s) calc(var(--r) / -2),
    var(--g0) var(--s) calc(var(--r) / 2) var(--color2); /*color 2 again here */
  background-size: calc(4 * var(--s)) calc(6 * var(--r));
}

.bg-pattern-3 {
  animation: colorTransition 3s ease-out infinite;
  --s: 150px; /* control the size */
  --c: var(--color1);

  --l: var(--c) 20%, #0000 0;
  --g: 35%, var(--color2) 0 45%, var(--c) 0;
  background: linear-gradient(45deg, var(--l) 45%, var(--c) 0 70%, #0000 0),
    linear-gradient(-45deg, var(--l) var(--g) 70%, #0000 0),
    linear-gradient(45deg, var(--c) var(--g));
  background-size: var(--s) var(--s);
}

.bg-pattern-4 {
  animation: colorTransition 3s ease-out infinite;
  --s: 100px; /* control the size */
  --c1: var(--color1);
  --c2: var(--color2);

  --g: var(--c1) 3.125%, var(--c2) 0 9.375%, var(--c1) 0 15.625%,
    var(--c2) 0 21.875%, var(--c1) 0 28.125%, #0000 0;
  background: linear-gradient(
        225deg,
        #0000 3.125%,
        var(--c2) 0 9.375%,
        #0000 0 78.125%,
        var(--c2) 0 84.375%,
        #0000 0
      )
      0 calc(var(--s) / 2),
    linear-gradient(45deg, var(--g)) 0 var(--s),
    linear-gradient(45deg, var(--g)) calc(var(--s) / -2) calc(var(--s) / -2),
    linear-gradient(225deg, var(--g)) var(--s) 0,
    linear-gradient(225deg, var(--g)) calc(var(--s) / 2) var(--s),
    repeating-linear-gradient(
      -45deg,
      var(--c1) -3.125% 3.125%,
      var(--c2) 0 9.375%
    );
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
}

body {
  background: #fffdfa;
}
